@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  @apply bg-gray-50 text-slate-800 antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}


